RewriteEngine On
RewriteBase /
RewriteRule ^$ /public/ [L,R=301]
RewriteCond %{REQUEST_URI} !^/public/
RewriteCond %{REQUEST_URI} !^/index\.php$
RewriteCond %{REQUEST_URI} !\.(css|js|jpg|png|gif|ico)$ [NC]
RewriteRule ^(.*)$ index.php [L]